.homeContainer{
    .carouselContainer{
        position: relative;
        height: 80vh;
        margin: 0 0 3em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .carousel{
            height: 80vh;
            width:100vw;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            z-index: -100;
        }
        h1{
            font-size: 5em;
            color:white;
            margin: 2rem;
            font-family: 'Dancing Script', cursive;
        }
        a{
            margin: 2rem;

            button{
                height: 3rem;
                padding:0 2rem;
                background-color: rgba(0, 0, 0, .4);
                color: white;
                font-size: 1.5rem;

                &:hover{
                    background-color: white;
                    color:black;
                    cursor: pointer;
                }
                &:focus{
                    outline: none;
                }
            }
        }
        @media (max-width:940px){
            h1{
                text-align: center;
            }
        }
    }

    .boxes{
        border-top: 3px solid rgb(68, 68, 68);
        padding-top: 3em;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        width:90%;
        margin:auto;
        margin-bottom: 8em;
        .box{
            align-content: center;
            height: 15em;
            width: 15em;
            img{
                border-radius: 10px;
                height: 80%;
                width: 100%;
                &:hover{
                    opacity: .7;
                }

            }
            
        }
        a{
            text-decoration: none;
            p{
                padding:.5em 0;
                color:rgb(68, 68, 68);
                font-size: 1.5em;
                &:hover{
                    opacity: .7;
                }
            }
        } 
        
    }
    @media (max-width: 1100px){
        .boxes{
            display: flex;
            .box{
                box-sizing: border-box;
                max-height: 20em;
                margin:0 4.6%;
                max-width: 20em;
                min-width:10em;
                margin-bottom: 2em;
            }
        }
    }
    @media (max-width: 660px){
        .boxes{
            .box{
                box-sizing: border-box;
                max-height: 20em;
                height: 20em;
                margin:0;
                width: 20em;
                margin-bottom: 2em;
                &:nth-child(4){
                    margin-bottom: 0em;
                }
            }
            a img{
                
            }
            
        }
    }
    .michiganArea{
        background-color: rgb(68, 68, 68);
        display: flex;
        justify-content: space-around;
        h3{
            color: white;
            font-size: 4em;
            width:55vw;
            text-align: left;
            margin: 2em 0;
            padding:0 0 0 1.5em;
            font-family: 'Dancing Script', cursive;
        }
        img{
            position: relative;
            width: 18em;
            height:20em;
            right:1em;
            bottom:4em;

        }
        @media (max-width: 750px){
            h3{
                font-size: 3em;
            }   
            img{
                width: 15em;
                height:17em;
                bottom:4em;
    
            } 
        }
        @media (max-width: 570px){
            h3{
                font-size: 2em;
            }   
            img{
                width: 12em;
                height:12em;
                bottom:4em;
    
            } 
        }
    }

    // Work with us
    .workWithUs{
        background-image: url('../img/wood.jpg');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            color: white;
            font-size: 3.5em;
            padding:2em 0;
        }
        ul {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width:100vw;
            li{
                box-sizing: border-box;
                width:48%;
                color:white;
                font-size: 1em;
                margin:2em 0;
                background-color: rgb(68, 68, 68);
                padding:1em;
                border-radius: 10px;
                .fa{
                    color:white;
                    padding-right:.5em;
                }
            }

        }
        button{
            width:8em;
            height:2.5em;
            margin:2em;
            font-size: 1em;
            border:1px solid rgb(68, 68, 68);
            color: rgb(68, 68, 68);
            &:focus {
                outline:0;
            }
            &:hover{
                background-color: rgb(68, 68, 68);
                color:white;
                border:1px solid white;
            }
        }
        
        @media(max-width: 1020px){
            h3{
            }
            ul {
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: center;
                li{
                    width:80%;
                    .fa{
                    }
                }
                .four{
                    margin-bottom: 4em;
                }
            }
        }
        @media(max-width: 620px){
            h3{
            }
            ul {
                li{
                    width:90%;
                    color:white;
                    font-size: .9em;
                    
                    .fa{
                    }
                }
            }
        }
    }
    .reviewsContainer{
        text-align: center;
        padding:4em;
        background-color: rgb(68, 68, 68);
        color: white;
        h3{
            font-size: 2.2em;
            padding:0 1em 1em 1em;
        }
        p{
            font-size: 1.2em;
        }
        h6{
            font-weight: bold;
            font-size: 1.2em;
            padding:.8em;
        }
    }
    // Hire Us
    .hireUs{
        display: flex;
        justify-content: space-around;
        padding:2em;
        h3{
            font-size: 1.8em;
            text-align: center;
            margin: auto 0;
        }
        button{
            padding:.8em;
            margin:2em;
            font-size: 1em;
            border:1px solid rgb(68, 68, 68);
            color: rgb(68, 68, 68);
            &:focus {
                outline:0;
            }
            &:hover{
                background-color: rgb(68, 68, 68);
                color:white;
                border:1px solid white;
            }
        }
        @media(max-width: 770px){
            flex-direction: column;
            align-items: center;
        }
    }
}