.navbar{
    padding:2rem;
    background: rgb(68, 68, 68);
    display: flex;
    justify-content: space-between;
    a img{
        // margin:2rem 0 2rem 2rem 
    }
    .navbarRoutes{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        a{
            text-decoration: none;
            font-size: 1.2rem;
            color:white;
            &:hover{
                color:grey;
            }
        }
    }

}
@media (max-width:800px){
    .navbar{
        flex-direction: column;
        align-items: center;
        a img{
            margin-bottom: 2rem;
        }
        .navbarRoutes{
            width:100%;
            a{
                font-size: 1rem;
            }
        }
    }
}