.serviceContainer{
    display: flex;
    flex-direction: column;
    width:100vw;
    padding-top: 9em;
    
    .blockContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:1.5em;
        
        .clickableImg {
            display: flex;
            justify-content: center;
            align-items: center;
            width:80%;
            cursor: pointer;
            padding:.5em 0;
            
            .serviceTitles{
                font-size: 3em;
                margin:1em 0;
                padding: .2em;
                color: white;
                background-color: rgba(68, 68, 68, .7);
                text-align: center;
                border-radius: 10px;
            }
            img{
                box-sizing: border-box;
                width:80%;
                height:10em;
                overflow: hidden;
                object-fit: cover;
                border-radius: 25px;
                position: absolute;
                z-index: -100;
            }
            
        }
        .block{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width:80vw;
            background-color: rgb(68, 68, 68);
            padding: 1em;
            box-sizing: border-box;
            color: white;
            text-align: center;
        }
        h5{
            font-size: 1.8em;
        }
        p{
            padding:1em 0;
            
        }
        ul{
            display: flex;
            justify-content: space-evenly;
            
            li{
                color: rgb(68, 68, 68);
                padding: .7em;
                box-sizing: border-box;
                background-color: white;
                width:22%;
                text-align: left;
            }
        }
    }
    #newInstalls{
        // padding:8em 0 8em 0;
        // background-color: rgb(104, 101, 95);
        // clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
        .newInstallsContainer{
            p{
            }
            ul{
                li{

                }
            }
            
        }
    }
    #refinishing {
        

        .refinishingContainer{
            h5{
                
            }
            p{
                
            }
            
        }
    }
    #customCraftsmanship {
        // clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%);
        // background-color: rgb(223, 213, 182);
        // padding:4em 0 8em 0;

    }
    .customCraftsmanshipContainer{
        h5{

        }
        p{

        }
        ul{
            li{

            }
        }
        p{

        }
    }
    #commercial .commercialContainer{
        // padding-bottom: 3em;
        .innerBlock{
            h5{
            
            }
            p{
    
            }
        }
    }
}

@media(max-width:800px){
    .serviceContainer{
        padding-top: 12em;
    }
}